/* Comp Properties */
/* font-family: 'Open Sans', sans-serif (700, 300);
left-side background: #F7F7F7;
right-side background: #404041 */
/* Header H1 : #DD1972;
button background: #6E6E6E;
button font-color: #FFFFFF;
disabled state button background: #D0D2D3;
on hover/ click  background: #DD1972;
Numbers at Results : #F74D9B; */

/* Header */

* {
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  background: #404041;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  font-family: 'Open sans', sans-serif;

}

.header-container {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
}

h1 {
  color: #DD1972;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 400%;
  font-weight: 800;
  margin: 2% 0% 0% 0%;
  height: 60px;
}

#second-half-heading {
  font-weight: 300;
}

.sub-header-section {
  display: flex;
  width: 100%;
  margin: 0%;
  align-items: center;
  justify-content: space-between;
}

#sub-header {
  color: #ffffff;
  font-weight:lighter;
  text-align: center;
}


.line {
  height: 1px;
  background-color: #ffffff;
  width: 40px;
  width: 27%;
}


/*  Elements */

body{
  margin: 0 auto;

}

.wrapper {
  display: flex;
}


.mainleft {
  background: #F7F7F7;
  display: flex;
  flex: row nowrap;
  width: 50%;
  margin: 0 auto;
}

.mainright {
  background: #D1D2D4;
  display: flex;
  flex: row nowrap;
  width: 50%;
  margin: 0 auto;
  border-left: 2px solid;
  border-color: #aaaaaa;
}
article {
  background: #F7F7F7;
  display: flex;
  flex-flow: column;
  margin: 20px;
  width: 100%;


}


.naming p {
  font-weight: 300;
  color: #616161;
}


form {
  /* border: 1px solid black; */
  margin-top: -10px;
  width: 100%;
  display: flex;
  flex-direction: row wrap;

}

.divrange {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: -5px;
  /* border: 1px solid red; */

}

h3 {
  color: #616161;
  font-weight: bold;
  margin-left: -5px;
  font-size: 1.5rem;
  margin-top:-10px;

}

input {
  height: 32px;
  width: 70%;
  font-size: 20px;
}

label {
  color: #616161;
  margin-bottom: 5px;
}

button {
  height: 40px;
  width: 20%;
  border-radius: 20px;
  background-color: #6E6E6E;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

#update-btn {
  margin-top: 22px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.btnactive {
  color: #6E6E6E;
}

/* Section 1 , 2 , 3 */


.workingtitle {
 background: #ffffff;
 display: flex;
 flex-direction: column;
 padding: 20px;
 width: 93.5%;
 /* margin-top: -20px; */
 border: 1px solid;
 border-color: #d1d2d4;

}

.naming {
 background: #ffffff;
 display: flex;
 flex-direction: column;
 padding: 20px 20px 20px 10px;
 width: 95%;
 border: 1px solid;
 border-color: #d1d2d4;

}
.spacing {
  margin-bottom: 20px;
}

.naming p {
  font-size: 1rem;
 margin: -2.5% 0px 30px -16px;
 font-weight: 300;
 color: #616161;
}

.naming h3 {
  margin-left: -16px;
}

.guessdiv {
  /* width: 100%; */
  /* border: 2px solid red; */
  margin-top: 5.5px;
  padding-right: 20px
}

.guessdiv input {
  width: 99%;
  margin-left: 40px;
}

.guessdiv label {
  margin-left: 41px;
}

.spanstyle {
  font-weight: bold;
  text-decoration: underline;
}

.backgroundcolordiv {
  background: #ffffff;
  padding: 20px;
}

.challengediv {
  /* background: #ffffff; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65px;
  margin-bottom: 40px;
  /* border: 2px solid black; */
  margin-left: -15px;
}

#challenge1 #challenge2 {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  border: 2px solid blue;
}

  .inchallenge {
    font-size: 1rem;
    height: 90%;
    width: 95%;
    /* padding-right: 20px; */
  }

.divbtns {
  /* border: 2px solid red; */
  margin: 0 20px -30px -25px;
  width: 110%;
  display: flex;
  justify-content: space-around;

}
.divbtns button {
  color: #ffffff;
  font-size: 130%;
  font-weight: bold;
  width: 29%;
}

.divbtns .submitbtn {
  width: 32%
}
.btnactive {
  color: #6E6E6E;
}

.btninactive {
  background-color: #D0D2D3;
}

button:hover {
  background-color: #DD1972;
}



.score {
  border: 1px solid;
  border-color: #d1d2d4;
  /* display: flex;
  flex-direction: column; */
}

.sectionscore{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

}

.divscore {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divscore p {
  font-weight: 300;
  color: #aeb1b2;
}

.scorespan {
  color: #7f7f7f;
  font-weight: bold;
  font-size: 130%;
}

.grayline {
  /* width: 2px; */
  height: 220px;
  border: 1px solid;
  border-color: #D0D2D3;
}

.challenger1 {
  margin-top: -10px;
}
.challenger2 {
  margin-top: 37.5px;
}
.scorediv {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.scorediv h3 {
  text-align: left;
  /* border: 2px solid red; */
  margin-left: -40px;
}

.currentp {
  margin-top: -3px;
  font-size: 120%;
  color: #d0d2d3;
}

#guess1card {
  margin: -30px 0px;
  font-size: 500%;
  color: #F74D9B;
  font-weight: 800;
}

#guess2card {
  margin: -30px 0px;
  font-size: 500%;
  color: #F74D9B;
  font-weight: 800;
}

.closedisplay {
  font-size: 150%;
  color: #a6a6aa;
}

.mainright {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
  /* margin-left: 20px; */
}

.cards {
  /* border: 2px solid black; */
  /* margin: 0 auto; */
  width: 100%;
  background: #D1D2D4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winnercard {
  display: flex;
  flex-flow: column nowrap;
  width: 85%;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #aaaaaa;
  /* justify-content: center; */
/* justify-content: flex-end; */
  align-content: space-around;
  /* background-color: #ffffff; */
  /* padding: 20px; */
}

.cardheader {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  justify-content: space-around;
  align-items: baseline;
  /* margin-bottom: 40px; */
}

.vs {
  /* margin-bottom: 90px; */
  font-size: 1.1rem;
 font-weight: 300;
 color: #616161;
}

#chall1name {
  margin-left: 10px;
  color: #72727a;
  font-size: 110%;
}

#chall2name {
  margin-left: 10px;
  color: #72727a;
  font-size: 110%;
}

.grayhorizonline {
  width: 100%;
  border: 1px solid;
  border-color: #D0D2D3;
}

.top {
  margin-top: -10px;

}

.centercardname {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 170%;
}

.bottom {
  margin-bottom: -30px;

}

.cardfooter {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: -10px;
  align-items: baseline;
}

.cardfooter p {
  margin-left: -20px;
}

#exitbtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
}

#secret {
  cursor: crosshair;
  font-size: 10px;
  color: red;
  width: 100px;
  height: 20px;
}

#secret:hover {
  background-color: royalblue;
}

.disappear {
  visibility: hidden;
}
