/* Comp Properties */
/* font-family: 'Open Sans', sans-serif (700, 300);
left-side background: #F7F7F7;
right-side background: #404041 */
/* Header H1 : #DD1972;
button background: #6E6E6E;
button font-color: #FFFFFF;
disabled state button background: #D0D2D3;
on hover/ click  background: #DD1972;
Numbers at Results : #F74D9B; */

/* Header */

* {
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  flex-direction: row;
}

header {
  display: inline-block;
  background: #404041;
  align-items: center;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  font-family: 'Open sans', sans-serif;
  font-size: medium;
}

.header_container {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

h1 {
  color: #DD1972;
  font-weight: normal;
  text-align: center;
  width: 100%;
  font-size: -webkit-xxx-large;
}

#second-half-heading {
  font-weight: lighter;
}

.sub_header-section {
  display:flex;
  width: 100%;
  margin:auto;
  align-items:center;
  justify-content: space-between;
}

#sub-header {
  color: #ffffff;
  font-weight:lighter;
  text-align: center;
}


.line {
  height: 1px;
  background-color: #ffffff;
  width: 40px;
  width: 19%;
}


/*  Elements */

body{
  margin: 0 auto;
}



main {
  background: #F7F7F7;
  display: flex;
  flex: row nowrap;
  width: 100%;
  margin: 0 auto;
}
article {
  background: #F7F7F7;
  display: flex;
  flex-flow: column;
  margin: 20px;
  width: 100%;


}


.naming p {
  font-weight: 300;
  color: #616161;
}


form {
  /* border: 1px solid black; */
  margin-top: -10px;
  width: 100%;
  display: flex;
  flex-direction: row wrap;

}

.divrange {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: -5px;
  /* border: 1px solid red; */

}

h3 {
  color: #616161;
  font-weight: bold;
  margin-left: -5px;
  font-size: 1.5rem;
  margin-top:-10px;

}

input {
  height: 32px;
  width: 70%;
  font-size: 20px;
}

label {
  color: #616161;
  margin-bottom: 5px;
}

button {
  height: 40px;
  width: 20%;
  border-radius: 20px;
  background-color: #6E6E6E;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

#update-btn {
  margin-top: 22px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.btnactive {
  color: #6E6E6E;
}

/* Section 1 , 2 , 3 */


.workingtitle {
 background: #ffffff;
 display: flex;
 flex-direction: column;
 padding: 20px;
 width: 93.5%;
 /* margin-top: -20px; */
 border: 1px solid;
 border-color: #d1d2d4;

}

.naming {
 background: #ffffff;
 display: flex;
 flex-direction: column;
 padding: 20px 20px 20px 10px;
 width: 95%;
 border: 1px solid;
 border-color: #d1d2d4;

}
.spacing {
  margin-bottom: 20px;
}

.naming p {
  font-size: 1rem;
 margin: -2.5% 0px 30px -16px;
 font-weight: 300;
 color: #616161;
}

.naming h3 {
  margin-left: -16px;
}

.guessdiv {
  /* width: 100%; */
  /* border: 2px solid red; */
  margin-top: 5.5px;
  padding-right: 20px
}

.guessdiv input {
  width: 99%;
  margin-left: 40px;
}

.guessdiv label {
  margin-left: 41px;
}

.numrange {
  font-weight: bold;
  text-decoration: underline;
}

.backroundcolordiv {
  background: #ffffff;
  /* border: 1px solid; */
  border-color: #d1d2d4;
  padding: 20px;
  margin-top: -10px;
}

.challengediv {
  /* background: #ffffff; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65px;
  margin-bottom: 40px;
  /* border: 2px solid black; */
  margin-left: -15px;
}

#challenge1 #challenge2 {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  border: 2px solid blue;
}

  .inchallenge {
    font-size: 1rem;
    height: 90%;
    width: 95%;
    /* padding-right: 20px; */
  }

.divbtns {
  /* border: 2px solid red; */
  margin: 0 20px -30px -25px;
  width: 110%;

}
.divbtns button {
  margin: 5px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  width: 29%;
}

.divbtns .submitbtn {
  width: 35%
}
.btnactive {
  color: #6E6E6E;
}

.btninactive {
  background-color: #D0D2D3;
}




/* ASIDE */

aside{
  background-color:#D1D2D4;
  display: flex;
  width: 100%;
}
